@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about devops <a href="https://blog.procopan.md">Devops Blog</a></p>
    <p>Learn about .NET 7 <a href="https://dotnet.microsoft.com/en-us/download/dotnet/7.0">Download .NET 7</a></p>
</div>
